*{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    background-color: #ffe3be;
}
header {
    display: flex;
    align-items: center;
}
ul{
    padding-top: 1.6em;
    display: flex;
}
li{
    display: flex;    
    font-weight: bold;
    color: white;
    padding-right: 2em;
}